{% extends 'main_app/layout.html' %}

{% block title %}
Помощь
{% endblock %}

{% block content %}
<div class="help_block">
    <h2 class="help_title">Полезная информация по использованию сайта</h2>

    <div class="prolog_block">
        <h3 class="prolog_title">Для кого этот сайт?</h3>
        По большей части для студентов МГТУ Станкин, однако и преподавателям вход не воспрещен. И, если так подумать,
        то для кого угодно, кто вовлечен во множество групповых или индивидуальных проектов и не имеет никакого желания
        держать их все у себя в голове.
    </div>

    <div class="for_who_block">
        <h3 class="for_who_title">А зачем оно мне надо?</h3>
        Конечно, никто (даже я) не в состоянии удержать вас от порыва хранить информацию о ваших проектах на почте,
        в личных сообщениях самому себе или даже на листочке. Однако, любой из данных подходов имеет ряд очевидных
        недостатков. Что же предлагает сайт? Давайте посмотрим:
        <ul>
            <li>Создавать и хранить проекты с удобной структурой</li>
            <li>Редактировать файлы проекта и его состояние</li>
            <li>Отслеживать свое (и не только) проектное пространство</li>
            <li>Просматривать проекты других команд</li>
            <li>Экспортировать данные о проектах в гибком формате</li>
        </ul>
        Последний пункт будет особенно актуален, если вы все-таки являетесь студентом вышеупомянутого университета. Вы
        сможете узнать, кто с кем в командах, кто уже начал заниматься проектом, а кто нет, увидеть степень продвижения
        команд, а также быстро экспортировать информацию для дальнейшей передачи преподавателям.
    </div>

    <h2 class="blocks">Разделы</h2>

    <div class="block">
        <h3 class="block_title">Главная</h3>
        Здесь все предельно просто: несколько ссылок на ключевые разделы сайта, а также контакты автора сайта для любых
        вопросов.
    </div>

    <div class="block">
        <h3 class="block_title">Новости</h3>
        Я сказал, что на главной странице все предельно просто? Я пошутил, предельной простотой обладает скорее именно
        этот раздел. Он был создан для публикации новостей именно о сайте, о его обновлениях и проч. И, надеюсь, так
        оно до сих пор и есть.
    </div>

    <div class="block">
        <h3 class="block_title">Таблица</h3>
        Этот раздел хранит в себе все проекты, созданные на сайте. Информация, доступная любому зарегистрированному
        пользователю о любом из существующих проектов по мнению автора сайта не является приватной, поэтому любой
        пользователь сайта автоматически с этим соглашается при публикации своих проектов здесь. Касательно возможностей
        раздела - удобная фильтрация, сортировка и отображение карточек проектов. "Экспорт" позволит скачать файл в
        формате .csv, который будет содержать в себе информацию о проектах, подходящих под выбранные в момент нажатия
        на кнопку фильтры (на всякий случай они дублируются в названии файла по умолчанию для удобства).
    </div>

    <div class="block">
        <h3 class="block_title">Проекты</h3>
        Основной раздел по манипуляции проектами, в которых пользователь, находящийся в системе в данный момент является
        либо лидером, либо же участником. Для первой категории лиц предоставлены возможности по изменению статуса проекта,
        а также управлению его файлами. Вторые же довольствуются возможностью скачивать и просматривать файлы. Здесь нет
        системы пул-реквестов, простите).
    </div>

    <div class="block">
        <h3 class="block_title">Помощь</h3>
        Без комментариев.
    </div>

</div>
{% endblock %}