{% extends 'main_app/layout.html' %}

{% block title %}
Создание проекта
{% endblock %}

{% block content %}
<div class="project_create_body">
        <div class="form-container">
        <h2>Создание проекта</h2>
        <form action="/projects/submit_form" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if team_name_error %}
                <small style="color: red; font-size: 16px;">{{ team_name_error }}</small>
            {% endif %}
            <div class="form-group">
                <label>Введите название вашей команды: </label>
                <input class="temp" type="text" id="team_name" name="team_name" placeholder="Мое название" value="{{ form_data.team_name|default:'' }}">
            </div>

            <div class="form-group">
                <label>Введите тему вашего проекта: </label>
                <input class="temp" type="text" id="project_name" name="project_name" placeholder="Моя тема" required value="{{ form_data.project_name|default:'' }}">
            </div>

            <div class="form-group">
                <label for="subject">Выберите предмет из списка:</label>
                <select class="create_select" id="subject" name="subject">
                    <option value="MiABP" {% if form_data.subject == "MiABP" %}selected{% endif %}>МиАБП</option>
                    <option value="Методы оптимизации" {% if form_data.subject == "Методы оптимизации" %}selected{% endif %}>Методы оптимизации</option>
                    <option value="Машинное обучение" {% if form_data.subject == "Машинное обучение" %}selected{% endif %}>Машинное обучение</option>
                    <option value="Компьютерная механика" {% if form_data.subject == "Компьютерная механика" %}selected{% endif %}>Компьютерная механика</option>
                    <option value="Теория управления" {% if form_data.subject == "Теория управления" %}selected{% endif %}>Теория управления</option>
                </select>
            </div>

            <div class="form-group">
                <label>Укажите тип проекта:</label>
                <div class="radio-group">
                    <input type="radio" id="solo_project" name="project_type" value="одиночный">
                    <label for="solo_project">Одиночный</label>
                    <input type="radio" id="group_project" name="project_type" value="групповой" checked>
                    <label for="group_project">Групповой</label>
                </div>
            </div>

            <div class="form-group">
                <label>Укажите ФИО каждого участника и выберите лидера*:</label>
                <small class="small_text">*Лидер может (и должен) быть только один</small>
                <div class="add-member-group">
                    <input class="temp" type="text" id="participant_name" name="participant_name" placeholder="ФИО участника">
                    <button class="add_button" type="button" onclick="addParticipant()">Добавить</button>
                    <div class="leader-checkbox">
                        <input type="checkbox" id="leader" name="leader">
                        <label for="leader">Лидер</label>
                    </div>
                    {% if participants_error %}
                        <div style="color: red; font-size: 16px;">{{ participants_error }}</div>
                    {% endif %}
                    {% if count_error %}
                        <div style="color: red; font-size: 16px;">{{ count_error }}</div>
                    {% endif %}
                </div>
                <div id="participants-list">
                </div>
                {% if name_error %}
                    <div style="color: red; font-size: 16px;">{{ name_error }}</div>
                {% endif %}
            </div>


            <div class="form-group">
                <label for="status">Укажите текущий статус проекта:</label>
                <select class="create_select" id="status" name="status">
                    <option value="не начат" {% if form_data.status == "не начат" %}selected{% endif %}>Не начат</option>
                    <option value="в процессе" {% if form_data.status == "в процессе" %}selected{% endif %}>В процессе</option>
                    <option value="почти закончен" {% if form_data.status == "почти закончен" %}selected{% endif %}>Почти закончен</option>
                    <option value="завершен" {% if form_data.status == "завершен" %}selected{% endif %}>Завершен</option>
                </select>
            </div>

            <div class="form-group">
                <label>Загрузите файлы проекта (отчеты, программы, схемы и т.д.):</label>
                <div class="file-drop-area" id="file-drop-area" onclick="document.getElementById('project_files').click()">
                    Щелкните, чтобы выбрать файлы
                    <input type="file" name="project_files[]" id="project_files" multiple style="display:none;" onchange="updateFileList()">
                </div>
                <div id="file-list" class="file-list"></div>
            </div>
            <button class="create_button" type="submit">Создать</button>
        </form>

    </div>
</div>
{% endblock %}