{% extends 'main_app/layout.html' %}

{% block title %}
Мои проекты
{% endblock %}

{% block content %}
<div class="project_main">
    <h2 class="main_h2">Информация о ваших проектах</h2>
    <div class="filters">
        <label for="active_archive" class="main_label">Состояние проекта: </label>
        <select class="project_select" name="active_archive" id="active_archive" onchange="updateProjects()">
            <option value="all_aa" selected>Все</option>
            <option value="active">Активный</option>
            <option value="archive">Архивный</option>
        </select>

        <label for="sorts" class="main_label">Сортировка: </label>
        <select class="project_select" name="sorts" id="sorts" onchange="updateProjects()">
            <option value="status_sort_inc">По статусу ↑</option>
            <option value="status_sort_dec">По статусу ↓</option>
            <option value="name_sort">По теме</option>
        </select>

        <label for="status" class="main_label">Статус: </label>
        <select class="project_select" name="status" id="status" onchange="updateProjects()">
            <option value="all_status">Все</option>
            <option value="not_started">Не начат</option>
            <option value="in_progress">В процессе</option>
            <option value="almost_done">Почти закончил</option>
            <option value="completed">Завершен</option>
        </select>

        <hr class="project_hr">

        <div class="scrollable-content_p">
            <div id="project-modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <h2 class="modal_h2" id="modal-project-theme"></h2>
                    <p id="modal-project-name"></p>

                    <div id="modal-project-status-wrapper">
                        <p id="modal-project-status"></p>
                        <div id="status-edit-container" style="display: none;">
                            <select id="status-dropdown" class="modal_select">
                                <option value="not_started">Not Started</option>
                                <option value="in_progress">In Progress</option>
                                <option value="almost_done">Almost Done</option>
                                <option value="completed">Completed</option>
                            </select>
                            <button onclick="updateProjectStatus()" class="modal_btn">Изменить</button>
                        </div>
                    </div>

                    <h3>Участники:</h3>
                    <ul class="participant_ul" id="modal-project-participants"></ul>

                    <h3>Файлы проекта:</h3>
                    <button id="add-file-button" onclick="">Добавить файлы</button>
                    <input type="file" id="file-input" style="display: none;" multiple />
                    <ul class="participant_ul" id="modal-project-files"></ul>

                </div>
            </div>

            {% if not projects %}
            <div class="empty_block">
                У вас пока нет никаких проектов, но вы всегда можете их начать )
                <a href="{% url 'create_project' %}" class="btn_">Создать проект</a>
            </div>
            {% endif %}

            <div class="project-header" id="project-list">

            </div>
        </div>
    </div>

</div>

{% endblock %}